In [8]:
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

import pandas as pd

In [9]:
data=pd.read_csv("C:\\Users\\Devrim\\Desktop\\Veri Bilimi ile örnek github\\Job_Recommendation_Engine_master\\Results\\JobsDataset.csv",header = 0, names = ['Query', 'Job Title', 'Description'])

data

,Query,Job Title,Description
1,Data Scientist,Junior Data Scientist Apprenticeship,Job Description As a Junior Data Scientist at ...
2,Data Scientist,"HBO Data Scientist, Content Science",OVERALL SUMMARY As a Data Scientist on the Dat...
3,Data Scientist,Junior Data Scientist,The Team: The Data science team is a newly for...
4,Data Scientist,Jr Data Scientist,We now have a need for junior Data Scientist(s...
5,Data Scientist,"Data Scientist, Premium Content",Do you want to help guide the core business of...
...,...,...,...
9996,Network Architect,Learning Architect,The opportunity Our customers understand that ...
9997,Network Architect,Systems Architect,The NASA Ames Research Center has the requirem...
9998,Network Architect,Hardware Architect,What You'll Do Distinguished Engineer with pro...
9999,Network Architect,"Software Development Engineer, Full Stack – E...","Software Development Engineer, Full Stack – En..."
10000,Network Architect,Architect,"Architect San Francisco, CA Leading provider o..."

In [11]:
istanimi=data["Description"]
istanimi

1        Job Description As a Junior Data Scientist at ...
2        OVERALL SUMMARY As a Data Scientist on the Dat...
3        The Team: The Data science team is a newly for...
4        We now have a need for junior Data Scientist(s...
5        Do you want to help guide the core business of...
                               ...
9996     The opportunity Our customers understand that ...
9997     The NASA Ames Research Center has the requirem...
9998     What You'll Do Distinguished Engineer with pro...
9999     Software Development Engineer, Full Stack – En...
10000    Architect San Francisco, CA Leading provider o...
Name: Description, Length: 10000, dtype: object