In [1]:
import pandas as pd

In [6]:
import os 
os.chdir("C:/Users/Devrim/Desktop/Pyhton ile kariyer net iş bulma/veri Kümeleri")

In [9]:
kupa=pd.read_csv("job_titles_small.csv")
kupa

    Rank                         Title
0      1               DevOps Engineer
1      2                 Web Developer
2      3  Information Security Analyst
3      4               Data Scientist
4      5              Business Analyst
5      6            Software Developer
6      7             Software Engineer
7      8       Machine Learning Expert
8      9        Database Administrator
9     10                  Data Analyst
10    11                 IT Consultant
11    12                SAP Consultant
12    13             Big Data Engineer
13    14               Project Manager
14    15               Software Tester
15    16                 Data Engineer
16    17                  Data Analyst
17    18              Digital Marketer
18    19     Machine Learning Engineer
19    20       Data Science Generalist
20    21                   IT Engineer
21    22                Java Developer
22    23                       Analyst
23    24              Security Analyst
24    25          Full Stack Developer
25    26                    IT Support
26    27                      Designer
27    28                Data Architect
28    29             Financial Analyst
29    30            Technical Engineer

In [14]:
kupa["Title"]=kupa["Title"].astype("category")

In [15]:
kupa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    30 non-null     int64
 1   Title   30 non-null     category
dtypes: category(1), int64(1)
memory usage: 1.9 KB

In [16]:
kupa["Title"].nunique()

29

In [17]:
kupa["Title"]

0                  DevOps Engineer
1                    Web Developer
2     Information Security Analyst
3                  Data Scientist
4                 Business Analyst
5               Software Developer
6                Software Engineer
7          Machine Learning Expert
8           Database Administrator
9                     Data Analyst
10                   IT Consultant
11                  SAP Consultant
12               Big Data Engineer
13                 Project Manager
14                 Software Tester
15                   Data Engineer
16                    Data Analyst
17                Digital Marketer
18       Machine Learning Engineer
19         Data Science Generalist
20                     IT Engineer
21                  Java Developer
22                         Analyst
23                Security Analyst
24            Full Stack Developer
25                      IT Support
26                        Designer
27                  Data Architect
28               Financial Analyst
29              Technical Engineer
Name: Title, dtype: category
Categories (29, object): ['Analyst', 'Big Data Engineer', 'Business Analyst', 'Data Analyst', ..., 'Software Engineer', 'Software Tester', 'Technical Engineer', 'Web Developer']

In [18]:
kupa["Title"].str.lower()

0                  devops engineer
1                    web developer
2     information security analyst
3                  data scientist
4                 business analyst
5               software developer
6                software engineer
7          machine learning expert
8           database administrator
9                     data analyst
10                   it consultant
11                  sap consultant
12               big data engineer
13                 project manager
14                 software tester
15                   data engineer
16                    data analyst
17                digital marketer
18       machine learning engineer
19         data science generalist
20                     it engineer
21                  java developer
22                         analyst
23                security analyst
24            full stack developer
25                      it support
26                        designer
27                  data architect
28               financial analyst
29              technical engineer
Name: Title, dtype: object

In [20]:
kupa["Title"].str.upper()

0                  DEVOPS ENGINEER
1                    WEB DEVELOPER
2     INFORMATION SECURITY ANALYST
3                  DATA SCIENTIST
4                 BUSINESS ANALYST
5               SOFTWARE DEVELOPER
6                SOFTWARE ENGINEER
7          MACHINE LEARNING EXPERT
8           DATABASE ADMINISTRATOR
9                     DATA ANALYST
10                   IT CONSULTANT
11                  SAP CONSULTANT
12               BIG DATA ENGINEER
13                 PROJECT MANAGER
14                 SOFTWARE TESTER
15                   DATA ENGINEER
16                    DATA ANALYST
17                DIGITAL MARKETER
18       MACHINE LEARNING ENGINEER
19         DATA SCIENCE GENERALIST
20                     IT ENGINEER
21                  JAVA DEVELOPER
22                         ANALYST
23                SECURITY ANALYST
24            FULL STACK DEVELOPER
25                      IT SUPPORT
26                        DESIGNER
27                  DATA ARCHITECT
28               FINANCIAL ANALYST
29              TECHNICAL ENGINEER
Name: Title, dtype: object

In [23]:
kupa["Title"]=kupa["Title"].str.lower()
kupa["Title"].str.title()

0                  Devops Engineer
1                    Web Developer
2     Information Security Analyst
3                  Data Scientist
4                 Business Analyst
5               Software Developer
6                Software Engineer
7          Machine Learning Expert
8           Database Administrator
9                     Data Analyst
10                   It Consultant
11                  Sap Consultant
12               Big Data Engineer
13                 Project Manager
14                 Software Tester
15                   Data Engineer
16                    Data Analyst
17                Digital Marketer
18       Machine Learning Engineer
19         Data Science Generalist
20                     It Engineer
21                  Java Developer
22                         Analyst
23                Security Analyst
24            Full Stack Developer
25                      It Support
26                        Designer
27                  Data Architect
28               Financial Analyst
29              Technical Engineer
Name: Title, dtype: object

In [24]:
kupa["Title"].str.len()

0     15
1     13
2     28
3     15
4     16
5     18
6     17
7     23
8     22
9     12
10    13
11    14
12    17
13    15
14    15
15    13
16    12
17    16
18    25
19    23
20    11
21    14
22     7
23    16
24    20
25    10
26     8
27    14
28    17
29    18
Name: Title, dtype: int64

In [26]:
kupa["Title"].str.replace("designer","Bilgisayar Mühendisi")

0                  devops engineer
1                    web developer
2     information security analyst
3                  data scientist
4                 business analyst
5               software developer
6                software engineer
7          machine learning expert
8           database administrator
9                     data analyst
10                   it consultant
11                  sap consultant
12               big data engineer
13                 project manager
14                 software tester
15                   data engineer
16                    data analyst
17                digital marketer
18       machine learning engineer
19         data science generalist
20                     it engineer
21                  java developer
22                         analyst
23                security analyst
24            full stack developer
25                      it support
26            Bilgisayar Mühendisi
27                  data architect
28               financial analyst
29              technical engineer
Name: Title, dtype: object

In [31]:
 kupa["Rank"]

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
Name: Rank, dtype: int64

In [33]:
kupa["Title"].str.lower().str.contains("data analyst")

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16     True
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
Name: Title, dtype: bool